---
import MusicVisualizer from "@components/features/music-visualizer/MusicVisualizer.svelte";
import { siteConfig } from "@/config";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import Layout from "@layouts/Layout.astro";
import "@/styles/pages/music-visualizer.css";

if (!siteConfig.pages.musicPage) {
	return Astro.redirect("/404/");
}
---

<Layout title={i18n(I18nKey.music) + " - 3D可视化"} description="音乐地形可视化，沉浸式音乐体验">
	<main class="music-visualizer-page">
		<MusicVisualizer client:only="svelte" />
	</main>
</Layout>
