---
import SiteStats from "@/components/widget/SiteStats.astro";
---

<section class="home-status" aria-labelledby="home-status-title">
	<div class="onload-animation home-section-title-wrapper mt-4">
		<div class="home-section-title-container">
			<span id="home-status-title" class="home-section-title">站点统计</span>
		</div>
	</div>

	<SiteStats class="onload-animation mt-1 mb-4 stats-container" />
</section>
