---
import HomeHero from "@components/layout/HomeHero.astro";
import HomePending from "@components/layout/HomePending.astro";
import HomeStatus from "@components/layout/HomeStatus.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
---

<MainGridLayout>
	<div class="home-page">
		<HomeHero />
		<HomeStatus />
		<HomePending />
	</div>
</MainGridLayout>
